<html>

<head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body style="color:white;background-color:black;">
    <div id="app">
        <div>
            <h2>Unordered list repeating li element</h2>
            <ul>
                <li v-for="(ingredient, i) in ingredients">({{ i }}) {{ ingredient }}</li>
            </ul>
        </div>

        <div>
            <h2>Template repeating children elements</h2>
            <template v-for="(ingredient, index) in ingredients">
                <p>{{ ingredient }}</p>
                <p>{{ index }}</p>
            </template>
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {
                        name: 'Max',
                        age: 27,
                        color: 'red'
                    },
                    {
                        name: 'Carl',
                        age: 25,
                        color: 'blue'
                    }
                ],
            }
        });
    </script>
</body>

</html>